@yellow: #fffa19;
@gree: #4d8a28;
@red: #A10008;

.SetStyle(@top: 0px, @bottom:0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    .SetStyle(50px, 0px);
    background-color: @gree;
    color: black;
 }
  
  footer {
    .SetStyle(10px, 0px);
    background-color: @gree;
    padding: 10px 10px 0 10px; }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  