$yellow: #ffffff;
$gree: #4d8a28;
$red: #ffffff;
@mixin SetStyle($top, $bottom, $color, $padding) {
    margin-top: $top;
    margin-bottom: $bottom;
    background-color: $color;
    padding: $padding;
}

.jumbotron {
    @include SetStyle(50px, 0px, $red, 10px 10px 0 10px);
}

footer {
    @include SetStyle(10px, 0px, $yellow, 10px 10px 0 10px)
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}