.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #4d8a28;
  color: black;
}
footer {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #4d8a28;
  padding: 10px 10px 0 10px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
